.button-links .links {
    border: 2px solid var(--button-background-color);
    background-color: transparent;
    color: var(--font-color);
    transition: 0.3s ease-in-out;
    border-radius: 0px;
}

.button-links .links:hover {
    background-color: var(--button-background-color);
    border-color: var(--button-background-color);
    color: var(--background-color-one);
    transition: 0.3s ease-in-out;
}

.button-links .links .link-item .link-image-thumb {
    border-radius: 0px;
}
