.preview-body-appearance-default {
    background: #ffffff;
}

.appearance-default .intro-area .profile-title h1 {
    color: rgb(0, 0, 0);
}

.appearance-default .intro-area .bio h2 {
    color: rgb(0, 0, 0);
}

.appearance-default .social-links .social-icon i {
    color: rgb(0, 0, 0);
}

.appearance-default .button-links .links {
    border: 2px solid rgb(68, 71, 166);
    background-color: rgb(68, 71, 166);
    color: rgb(255, 255, 255);
    transform: scale(1);
    transition: transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
    box-shadow: rgb(8 49 112 / 24%) 0px 2px 8px 0px;
    border-radius: 0px;
}

.appearance-default .button-links .links:hover {
    box-shadow: rgb(8 49 112 / 24%) 0px 4px 12px 0px;
    transform: scale(1.01);
}
