/* Animations */
.flash {
    animation: 2s linear 0s infinite normal none running flash;
}

.tada {
    animation: 2s linear 0s infinite normal none running tada;
}

.jello {
    animation: 2s linear 0s infinite normal none running jello;
}

.heartBeat {
    animation: 2s linear 0s infinite normal none running heartBeat;
}

.flash-holder:hover {
    animation: 2s linear 0s infinite normal none running flash;
}

.tada-holder:hover {
    animation: 2s linear 0s infinite normal none running tada;
}

.jello-holder:hover {
    animation: 2s linear 0s infinite normal none running jello;
}

.heartBeat-holder:hover {
    animation: 2s linear 0s infinite normal none running heartBeat;
}


/* Background presets */
.preview-body-appearance-two {
    background-image: linear-gradient(109.6deg, #ffb418 11.2%, #f73131 91.1%);
}

.preview-body-appearance-three {
    background-image: linear-gradient(135deg, #79F1A4 10%, #0E5CAD 100%);
}

.preview-body-appearance-four {
    background-image: linear-gradient(to bottom, #ff758c, #ff7eb3);
}

.preview-body-appearance-five {
    background-image: linear-gradient(292.2deg, #3355ff 33.7%, #0088ff 93.7%);
}

.preview-body-appearance-six {
    background: linear-gradient(to bottom, #fc5c7d, #6a82fb);
}

/* Fonts Classes */
.font-manrope {
    font-family: 'Manrope', sans-serif;
}

.preview-html {
    min-height: 100%;
}

.preview-body {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 0px;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.preview-container {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 24px 12px;
    height: 100%;
    width: 100%;
}

.preview-main {
    margin: 0px auto;
    height: 100%;
    width: 100%;
    max-width: 680px;
    padding-bottom: 80px;
}

.preview-background {
    position: fixed;
    inset: 0px;
    z-index: -1;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.preview-footer {
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    height: 24px;
}

.preview-footer a {
    height: 24px;
}

.preview-footer a img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    object-position: initial;
    filter: none;
}

.intro-area {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 12px;
    margin-bottom: 32px;
    width: 100%;
    height: 100%;
}

.intro-area .avatar {
    margin-bottom: 16px;
}

.intro-area .avatar img {
    border-radius: 50%;
    width: 96px;
    height: 96px;
    display: block;
    object-fit: contain;
    object-position: initial;
    filter: none;
}

.intro-area .profile-title {
    margin-left: 12px;
    margin-right: 12px;
    max-width: 100%;
}

.intro-area .profile-title h1 {
    margin: 0px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.intro-area .bio {
    margin-top: 8px;
    padding-left: 40px;
    padding-right: 40px;
}

.intro-area .bio h2 {
    padding: 0px;
    margin: 0px;
    text-align: center;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 700;
}

.button-links .links {
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin-bottom: 16px;
    height: auto;
}

.button-links .links .link-item {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    white-space: normal;
    background: none;
    color: inherit;
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
    margin: 0px;
    border: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: auto;
    position: relative;
    padding: 16px 66px;
    width: 100%;
    appearance: none;
    box-sizing: border-box;
    vertical-align: middle;
}

.button-links .links .link-item .link-image-thumb {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    overflow: hidden;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.button-links .links .link-item .thumb-image {
    left: 4px;
    width: 46px;
    height: 46px;
}

.button-links .links .link-item .link-image-thumb img {
    width: auto;
    height: 100%;
    display: block;
    object-fit: contain;
    object-position: initial;
}

.button-links .links .link-item .link-thumb i {
    font-size: 32px;
}

.button-links .links .link-item .link-icon-thumb {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    overflow: hidden;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: currentColor;
    mask-size: 100%;
    -webkit-mask-size: 100%;
}

.button-links .links .link-item .thumb-icon {
    left: 8px;
    width: 32px;
    height: 32px;
}

.button-links .links .link-item .link-text {
    position: relative;
    padding: 0px;
    margin: 0px;
    line-height: 1.5;
    width: 100%;
    font-weight: 500;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
}

.social-links .social-icon {
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
    color: inherit;
    text-decoration: none;
    transition: transform 0s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.social-links .social-icon i {
    font-size: 26px;
}

.social-links .social-icon:hover {
    transform: scale(1.075);
}
